<html>
    <head>
        <title>
            Latihan Middleware
        </title>
    </head>
    <body>
        <h1>Form Login</h1>
        <% if(message.length > 0) { %>
        <% message.forEach((text) => { %>
        <p><%= text.message %></p>
    <% }) %>
        <% } %>
        <form action="proses" method="post">
            <input type="text" name= "username" placeholder="Masukkan Nama"><br><br>
            <input type="password" name="password" placeholder="************"><br><br>
            <button type="submit">Login</button>
        </form>
    </body>
</html>